aniso8601==9.0.1
attrs==21.2.0
autopep8==1.5.7
click==8.0.3
dnspython==2.1.0
Flask==2.0.2
flask-restx==0.5.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
ifaddr==0.1.7
itsdangerous==2.0.1
Jinja2==3.0.2
jsonschema==4.1.0
MarkupSafe==2.0.1
mysqlclient==2.0.3
py-eureka-client==0.10.0
pycodestyle==2.8.0
pyrsistent==0.18.0
pytz==2021.3
six==1.16.0
SQLAlchemy==1.4.25
toml==0.10.2
Werkzeug==2.0.2
